/*Print StyleSheet*/
@media print {
    h1, h2, h3,h4, p, li{
        color: black;
        font-family: 'CustomFontItaliana', sans-serif;
        font-size: 10spt;
        margin-top: 1rem;
        padding: 0;

    }
    
    header,
    footer,
    nav,
    marquee {
        display: none !important;
    }
}